menu "user packages " 
config buttons  
	 bool "buttons"
	 help
	
config gpio-demo  
	 bool "gpio-demo"
	 help
	
config lcd  
	 bool "lcd"
	 help
	
config peekpoke  
	 bool "peekpoke"
	 help
	
config xadc-init  
	 bool "xadc-init"
	 help
	
endmenu
